$border-color-focus: #409eff;
$border-color-hover: #c0c4cc;
$border-color: #999;
$border-hover-color: #666;
$border-radius: 4px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$button-active-bg: #eee;
$button-bg: white;
$button-height: 32px;
$color: #606266;
$color: #999;
$font-size: 14px;
$height: 40px;
$red: #f56c6c;
// $border-color: #dcdfe6;